build/
dist/
out/
.next/
.parcel-cache/
coverage/

node_modules/

*.min.js
*.css.map
package-lock.json
yarn.lock
pnpm-lock.yaml

.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.prettierrc.js
.prettierrc.json
.prettierrc.cjs

.cache/
.angular
tmp/