$sp-green: #1db954;
$sp-green-hover: #1ed760;
$sp-black: #000000;
$sp-icon-black: #121212;
$sp-text-faded: #a7a7a7;
$sp-border-dark: #292929;
$sp-border-medium: #727272;
$sp-background: #535353;
$sp-surface: #b3b3b3;
$sp-white: #ffffff;
$sp-red-error: #f87171;
